*{
    box-sizing: border-box;
}
a.admit:hover{
    color:#3a243b ;
    border-bottom:2px solid #3a243b ;
    padding-bottom:5px;
    font-size:18px;
    
}
body{
    padding:0;
    margin:0;
    
}
#item3a{
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
body,html{
    height:100%;
}
.wrap{
    text-align: center;
    padding-top:30px;
}
.item2{
    font-family: 'Open Sans', sans-serif;
    
}
#item3b{
    text-align:center;
    text-transform: uppercase;
    display:none;
    top:20%;
    transform:translateY(-20%);
   
   
    
}
#item3c{
    text-transform: uppercase;
    position: relative;
    top:10%;
    transform:translateY(-10%);
    text-align: center;
    display:none;
}
.item3{
    font-family: 'Open Sans', sans-serif;
    color:white;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 600;
   
 
}
#firsttable{
    font-size: 13px;
}
#mat,#depart,#fat{
    padding-left: 10%;
}
.float{
    float:right;
    padding-top:40px;
    padding-right:20px;
    color:white;
}
table,th,td{
    border:thin solid #dcdcdc;
    border-collapse: collapse;
    
}
th,td{
    padding:5px;
  
}
table{
   width:90%;
  text-align: center;
  margin:0 auto;
}
#text{
    font-size: 25px;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
 
     
}
.image{
    background-color: teal;
    height:150px;
    width:150px;
    margin:0 auto;
    background-image: url("student1.jpg");
    background-size: contain; 
    clip-path: circle(70px);
}

.grid-container{
    display:grid;
    grid-template-columns: 270px auto;
    grid-template-rows: 250px auto 50px;
   
    height:100%;
    
   
}

.item2, .item4, .item3{
  
    background-image: linear-gradient( to right, #3a243b, #1e121e );
}
.item1{
    grid-row: 1/span 3;
    background-color: #dcdcdc;
}
#foot{
    
    text-align: center;
    color:white;
    font-family: 'ABeeZee';
    font-size: 0.9em;
  
}
.foot{
    padding:0px 3px;
    border-right:thin solid white;
    border-left:thin solid white;
}
#mat, #depart, #fat{
    text-transform: uppercase;
}
nav{
   
    font-family: 'Poppins', sans-serif;
}
.nav-links{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:100vh;
}
.nav-links a{
    text-decoration: none;
    color:#131313;
    letter-spacing: 1px;
}

ul{
    list-style-type: none;
}
.burger div{
    width:25px;
    height:3px;
    background-color: black;
    margin:5px;
}
.burger{
    display:none;
}