
body{
    margin:0;
    background-image: url("peak.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
    background-color: #7c5b4c;
}
.boom{
    font-size:0.9em;
    text-decoration: none;
    color:#484848;
}
.boomtwo{
    font-size:0.9em;
}
.boomthird{
    text-decoration: none;
    color:#08a0e9;
}
button{
    margin:0;
}
html,body{
    height:100%;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    display:none;
    color:black;
    margin-left:25px;
    padding: 30px 0px 10px 0px;
}
.content{
    background-color: #f1f1f1;
    font-size:14px;
    display:none;
    position:absolute;
    z-index:1;
    box-shadow: 0px 8px 20px 500px rgba(0,0,0,0.5);
  
}
.content a{
    color:black;
    text-decoration: none;
    display: block;
    padding:25px 150px 25px 30px ;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.fa-bars{
    color:black;
}
.fa-graduation-cap{
    padding-right:10px;
}
.fa-sign-in-alt, .fa-user-circle{
    padding-right:10px;
}

#foot{
    padding-top:15px;
    text-align: center;
    color:black;
    font-family: 'ABeeZee';
    font-size: 0.9em;
  
}
.foot{
    padding:0px 3px;
    border-right:thin solid black;
    border-left:thin solid black;
}
.gmail,.linkedin{
    padding:7px;
    color:black;
    font-size:1.1em;
}
.grid-container{
    display:grid;
    height:100%;
    background-color: transparent;
    grid-template-columns: auto ;
    grid-template-rows: 140px 70px auto 80px;
    grid-row-gap: 1px;
}
.grid-container > div{
    background-color:transparent;
   
}
input{
    background-color:transparent;
    
}

.item1{
    padding:45px 0px 45px 0px;
    font-size: 50px;
    text-align: center;
    font-family: 'Amaranth';
}
#item31{
    border:1px solid #f1f1f1;
    border-radius: 1em;
    width:400px;
    background-color:#f1f1f1;
    margin:auto;
    text-align: center;
    padding:40px 0px 20px;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    
}
#item32{
    border:1px solid #f1f1f1;
    border-radius: 1em;
    display:none;
    width:400px;
    background-color:#f1f1f1;
    margin:auto;
    text-align: center;
    padding:40px 0px 20px;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}
li{
    float:left;
    padding:24px 0px 24px 0px;
}
li a{
    position:relative;
    bottom:24px;
    padding:0px 70px 0px 70px;
    text-decoration: none;
    font-size:22px;
    color:black;
    font-family: 'Artifika';
}
#note{
    text-transform: uppercase;
    color:#654321;
    font-family: 'Open Sans', sans-serif;
 
}
.typetwo{
    padding:10px ;
    width:150px;
    border-radius:2em;
    margin-top:15px;
    cursor:pointer;
    background-color:#7f604d;
    color:white;
    font-size: 0.9em;
   
}
.typetwo:hover{
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.7);
    transform: translate(5px,-5px);
}

ul{
    list-style-type: none;
   
}
#username, #password, #rusername, #email, #password2{
    width:60%;
    height:35px;
    margin-bottom:8px;
    border:none;
    border-bottom:thin solid #654321 ;
}
#username, #email{
    padding-top:18px;
}
