@media screen and (max-width:1100px) and (min-height:1000px){
    .nav-links{
        margin:0 auto;
    }
    #item3a, #item3b{
        position: relative;
        top:30%;
        transform:translateY(-30%);
        
    }
    .item1{
        padding-top:20px;
        font-size: 50px;
        font-weight: 600;
    }
}
@media screen and (max-width:1023px){
    .item1{
     
        font-size: 45px;
        font-weight: 600;
    }
    html{
        background-image: radial-gradient(circle,#243040 20%, #1e2a38 30%, #1b2531 40%, #161d27 50%,  #0a0e13 80% );
        background-repeat: no-repeat;
     }
}
@media screen and (max-width:900px){
    html{
        background-image: radial-gradient(circle,#243040 25%, #1e2a38 40%, #1b2531 50%, #161d27 60%,  #0a0e13 80% );
       
     }
     #item3a, #item3b{
        position: relative;
        top:30%;
        transform:translateY(-30%);
        
    }
     .item3a1{
    
        width:400px;
        margin-top:30px;
    }
    .item3b1{
        border:1px solid white;
        border-radius:2em;
        width:400px;
        margin-top:20px;
    }
    .boomtwo{
        padding-top: 10px;
    }
    .nav-links li a{
        font-size: 18px;
    }
    .item1{
        padding-top:25px;
        font-size: 40px;
        font-weight: 600;
    }
}

@media screen and (max-width:770px){
    html{
        background-image: radial-gradient(circle,#243040 35%, #1e2a38 40%, #1b2531 50%, #161d27 60%,  #0a0e13 70% );
        background-repeat: no-repeat;
       
     }
    .item1{
        font-size: 38px;
        padding-top:26px;
        font-weight: 600;
       
    }
    #note{
        font-size: 21px;
    }
}

@media screen and (max-width:600px){
    .item1{
        font-size: 38px;
        padding-top:26px;
        font-weight: 600;
    }
    .gmail,.linkedin{
        font-size:0.95em;
    }
}
@media screen and (max-width:540px){
    html{
        background-image: radial-gradient(circle,#243040 30%, #1e2a38 40%, #1b2531 50%, #161d27 60%, #0a0e13 80% );
        background-repeat: no-repeat;
     }
     #note{
        font-size: 20px;
    }
    a.admit:hover{
        color:rgba(0,0,0,0.8);
        border-bottom:2px solid rgba(0,0,0,0.8);
        padding-bottom:5px;
    }
    #item3a, #item3b{
        position: relative;
        top:20%;
        transform:translateY(-20%);
    }
    .grid-container{
        grid-template-rows: 80px 70px auto 90px;
    }
    .item1{
        font-size: 30px;
        font-weight: 650;
        padding-top:25px;
    }
    .hamburger div{
        width:25px;
        height:3px;
        background-color: white;
        margin:5px;
        transition:all 0.3s ease;
    }
    nav{
        position:relative;
    }
    .hamburger{
        position:absolute;
        cursor:pointer;
        transform: translateX(-5%);
        right:5%;
        margin-top:17.5px;
        z-index:2;
    }
    .nav-links{
        background-color:#243040;
        position:fixed;
        height:30vh;
        width:100%;
        flex-direction: column;
        z-index:1;
        clip-path:circle(100px at 90% -120%);
        -webkit-clip-path:circle(100px at 90% -120%);
        transition: all 1s ease-out;
       
    }
    .nav-links li{
        opacity:0;
    }
    .nav-links li a{
        color:white;
        font-size:16px;
    }
    .nav-links.open{
        pointer-events: all;
        clip-path:circle(310px at 50% -15%);
        -webkit-clip-path:circle(310px at 50% -15%);
    }
    @keyframes navLinkFade{
        from{
            opacity:0;
            transform:translate(50px);
        }
        to{
            opacity:1;
            transform:translate(0px);
        }
    }
    .bum .line1{
        transform: rotate(-405deg) translate(-5px,6px);
        background-color: white;

    }
    .bum .line2{
      opacity:0;
    }
    .bum .line3{
        transform: rotate(405deg) translate(-5px,-6px);
        background-color: white;
    }
        
    .item3a1{
        width:250px;
        margin-top:30px;
    }
    .item3b1{
        width:250px;
        margin-top:20px;
    }
    .typetwo{
        width:266px;
        padding:8px;
    }
 
    #matricno, #password, #email, #password2, #signup-matricno, #signup-password{
        width:70%;
        font-size: 12px;
    }
    #password2{
        width:45%;
    }
    .cup{
        margin-top:30px;
    }
}
@media screen and (max-width:410px){
   
    .gmail,.linkedin{
        font-size:0.9em;
    }
    .item1{
        font-size:30px;
        font-weight: 650;
       
    }
  
  
}

@media screen and (max-width:400px){
    .item1{
        font-size:25px;
        font-weight: 650;
        padding-top:23px;
        
    }
    .hamburger{
        margin-top:2.5px;
    }
    .grid-container{
        grid-template-rows: 70px 40px auto 80px;
    }
    html{
        background-image: radial-gradient(circle,#243040 30%, #1e2a38 40%, #1b2531 50%, #161d27 60%, #0a0e13 80% );
        background-repeat: no-repeat;
       
     }
     #note{
        font-size: 18px;
    }
    
}
@media screen and (max-width:315px){
    .item3a1{
        width:200px;
        margin-top:30px;
    }
    .item3b1{
        width:200px;
        margin-top:20px;
        
    }
    .typetwo{
        width:216px;
        padding:8px;
    }
 
    #matricno, #password, #email, #password2, #signup-matricno, #signup-password{
        width:60%;
        font-size: 13px;
    }
    #password2{
        width:90%;
        color:white;
        border-left:none;
        font-size: 15px;
    }
    .cup{
        margin-top:30px;
    }
    label{
        font-size: 11px;
    }
    label[for=password2]{
        display:none;
    }
}
@media screen and (max-width:305px){
   
    .item1{
        font-size:20px;
        font-weight:650;
        padding-top:25px;
        text-align: center;
        
    }
    html{
        background-image: radial-gradient(circle,#243040 30%, #1e2a38 40%, #1b2531 50%, #161d27 60%, #0a0e13 90% );
        background-repeat: no-repeat;
       
     }
     #note{
        font-size: 16px;
    }
    
}
@media screen and (max-width:250px){
    .item1{
        font-size:18px;
        font-weight:650;
        padding-top:26px;
        
    }

    
}
@media screen and (max-width:278px){
    .item3a1{
        width:190px;
    }
    .item3b1{
        width:190px;
        
    }
    .typetwo{
        width:206px;
        padding:8px;
    }
 
    #matricno, #password, #email, #password2, #signup-matricno, #signup-password{
        width:60%;
        font-size: 13px;
    }
    #password2{
        width:90%;
        font-size: 13px;
    }
    .cup{
        margin-top:25px;
    }
    label{
        font-size: 10px;
    }


}
@media screen and (max-width:213px){
    .item1{
        text-align: center;
    }
    .item3a1{
        width:150px;
    }
    .item3b1{
        width:150px;
        
    }
    .typetwo{
        width:166px;
        padding:8px;
    }
 
    #matricno, #password, #email, #password2, #signup-matricno, #signup-password{
        width:90%;
        font-size: 13px;
        border-left: none;
    }
    #password2{
        width:90%;
        font-size: 13px;
    }
    .cup{
        margin-top:25px;
    }
    label{
        display:none;
        font-size: 10px;
    }
   
}




