a.gmail:hover{
    color: red;
}
a.linkedin:hover{
    color:#0e76a8;
}

html{
   background-image: radial-gradient(circle,#243040 20%, #1e2a38 30%, #1b2531 40%, #161d27 60%,  #0a0e13 85% );
   background-repeat: no-repeat;
}
.boom{
    font-size:0.9em;
    text-decoration: none;
    color:#08a0e9;
}
.boom:hover, .boomthird:hover{
    color:#5d4954;
}
.boomtwo{
    font-size:0.9em;
    color:white;
}
.boomthird{
    text-decoration: none;
    color:#08a0e9;
}

button{
    margin:0;
}
html,body{
    height:100%;
}
.fa-sign-in-alt, .fa-user-circle{
    padding-right:10px;
}
.nav-links{
    display: flex;
    width:50%;
    height:70px;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
}
.nav-links li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-family:'Poppins';
    cursor:pointer;
}
 a.admit:hover{
    color:#7cb3e1;
    border-bottom:2px solid #7cb3e1;
    padding-bottom:5px;
    
}
#foot{
    padding-top:15px;
    text-align: center;
    color:white;
    font-family: 'ABeeZee';
    font-size: 0.9em;
  
}
.foot{
    padding:0px 3px;
    border-right:thin solid white;
    border-left:thin solid white;
}
.gmail,.linkedin{
    padding:7px;
    color:black;
    font-size:1.1em;
}
.grid-container{
    display:grid;
    height:100%;
    background-color: transparent;
    grid-template-columns: auto ;
    grid-template-rows: 90px 70px auto 80px;
    grid-row-gap: 1px;
}
.grid-container > div{
    background-color:transparent;
   
}
input{
    background-color:transparent;
    outline: none;
    
}
.nope{
    color:#721520;
}
.item1{
    text-transform: uppercase;
    color: white;
    padding-top:22.5px;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
 
}
#item3a{
    text-align: center;
    margin:0 auto;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    
}
#item3b{
    text-align: center;
    margin:0 auto;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    display:none;
}
#note{
    color:#721520;
    font-weight:700;
    font-size:23px;
   
    font-family: 'Open Sans', sans-serif;
 
}
.typetwo{
    font-family: 'Open Sans', sans-serif;
    padding:10px ;
    width:416px;
    text-align: center;
    border-radius:2em;
    margin-top:15px;
    cursor:pointer;
    background-color:white;
    color:#721520;
    font-weight:700;
    font-size: 0.9em;
}
.typetwo:hover{
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.7);
    transform: translate(5px,-5px);
}
.cup{
    margin-top:35px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
   
}
label{
    color:white;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
#matricno, #password, #email, #password2{
    font-family: 'Open Sans', sans-serif;
    color:white;
    width:80%;
    font-size: 14px;
    border:none;
    border-left:1px solid white;
    padding-left: 8px;
}

.item3a1{
    border:1px solid white;
    padding:8px;
    border-radius:2em;
    width:400px;
    margin: 0 auto;
    margin-top:30px;
    text-align: left;
    background-color:#111d2d;
}
.item3b1{
    border:1px solid white;
    padding:8px;
    border-radius:2em;
    width:400px;
    margin: 0 auto;
    margin-top:20px;
    text-align: left;
    background-color:#111d2d;
}
.item3a2{
    margin:0 auto;
}
#password2{
    width:60%;
}

