@media screen and (min-width:1100px) and (min-height:600px){
    body{
        background-size: 50% 100%;
       
    }
    #item31, #item32{
        margin-left:60%;
    }
    .item1{
        text-align: left;
        margin-left:6%;
    }
}
@media screen and (min-width:1024px){
    .firstlinks{
        padding:0px 50px 0px 50px;
        font-size:22px;
    }
    .item1{
        font-size: 40px;
        text-align: left;
        padding-left:24px;
    }
    #item31{
        width:400px;
        padding:40px 0px 20px;
        top:40%;
        transform: translateY(-40%);
    }
    #item32{
        width:400px;
        padding:40px 0px 40px;
        top:40%;
        transform: translateY(-40%);
    }
    .boomtwo{
        padding-top:20px;
    }
}
@media screen and (max-width:1023px){
    .firstlinks{
        padding:0px 50px 0px 50px;
        font-size:22px;
    }
    #item31{
        width:500px;
        padding:60px 0px 20px;
        top:40%;
        transform: translateY(-40%);
    }
    #item32{
        width:500px;
        padding:40px 0px 20px;
        top:40%;
        transform: translateY(-40%);
    }
    #username, #password, #rusername, #email, #password2{
        width:60%;
        margin-bottom:20px;
    }
    .boomtwo{
        padding-top: 20px;
    }
    .item1{
        padding:31px 0px 31px 0px;
        font-size: 38px;
    }
}
@media screen and (max-width:900px){
    #item31{
        width:500px;
        padding:40px 0px 15px;
    }
    #item32{
        width:500px;
        padding:40px 0px 20px;
    }
    .firstlinks{
        padding:0px 30px 0px 30px;
        font-size:20px;
    }
    .boomtwo{
        padding-top: 10px;
    }
}
@media screen and (max-width:770px){
    .item1{
        font-size: 36px;
        padding:32px 0px 32px 0px;
    }
    .firstlinks{
        padding:0px 14px 0px 14px;
        font-size:20px;
    }
    #password{
        margin-bottom:3px;
    }
}
@media screen and (max-width:600px){
    #item31{
        width:400px;
        padding:40px 0px 0px;
    }
    #item32{
        width:400px;
        padding:40px 0px 20px;
    }
    .item1{
        font-size: 30px;
        padding:35px 0px 35px 0px;
    }
    .firstlinks{
        padding:0px 12px 0px 12px;
        font-size:18px;

    }
   
    .gmail,.linkedin{
        font-size:0.95em;
    }
    /* .typetwo{
        width:120px;
    } */


}
@media screen and (max-width:540px){
    #item31{
        width:400px;
        padding:30px 0px 0px;
        position:relative;
        top:12%;
        transform: translateY(-12%);
       
    }

    #item32{
        width:400px;
        padding:30px 0px 20px;
        position:relative;
        top:30%;
        transform: translateY(-30%);
    }
    .typetwo{
        margin-top:15px;
    }
    .grid-container{
        grid-template-rows: 110px 70px auto 90px;
    }
    .item1{
        font-size: 25px;
        padding:37.5px 0px 37.5px 0px;
    }
    .firstlinks{
        padding:0px 2px 0px 2px;
        font-size:17px;
    }
    .line{
        width:30px;
        height:3px;
        background-color: black;
        margin:5px;
    }
    nav{
        position:relative;
    }
    .hamburger{
        position:absolute;
        cursor:pointer;
       transform: translateX(-5%,);
        right:5%;
        margin-top:17.5px;
        z-index:2;
    }
    .nav-links{
        background: tomato;
        position:fixed;
        height:30vh;
        width:100%;
        flex-direction: column;
        z-index:1;
        clip-path:circle(100px at 90% -80%);
        -webkit-clip-path:circle(100px at 90% -80%);
        transition: all 1s ease-out;
       
    }
    .nav-links li a{
        color:white;
        font-size:16px;
    }
    .nav-links.open{
        pointer-events: all;
        clip-path:circle(300px at 50% -15%);
        -webkit-clip-path:circle(300px at 50% -15%);
    }
    #username, #password, #rusername, #email, #password2{
        margin-bottom:15px;
    }
  
}
@media screen and (max-width:410px){
    #item31{
        width:100%;
        padding:50px 0px 20px;
    }
    #item32{
        width:100%;
        padding:50px 0px 20px;
    }
    .gmail,.linkedin{
        font-size:0.9em;
    }
    .item1{
        font-size:25px;
    }
    .content a{
        padding:25px 100px 25px 30px ;
    }
    .typetwo{
        margin-top:8px;
    }
    #username, #email{
        margin-top:10px;
    }
}

@media screen and (max-width:400px){
    .item1{
        font-size:25px;
        padding:22.5px 0px 22.5px 0px;
        
    }
    .grid-container{
        grid-template-rows: 70px 40px auto 80px;
    }
    #item31{
        padding:30px 0px 10px;
    }
    #item32{
        padding:30px 0px 20px;
    }
    .dropbtn{
        padding: 20px 0px 10px 0px;
    }

}
@media screen and (max-width:305px){
    .item1{
        text-align: center;
    }
    .content a{
        padding:25px 80px 25px 30px ;
    }
    #item31{
        padding:20px 0px 10px;
    }
    #item32{
        padding:20px 0px 20px;
    }
    .item1{
        font-size:22px;
        padding:23px 0px 23px 0px;
        
    }
    
}
@media screen and (max-width:250px){
    .item1{
        font-size:20px;
        padding:25px 0px 25px 0px;
        
    }

    
}
@media screen and (max-width:223px){
    .item1{
        text-align: center;
    }
   
}




