*{
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(circle,#c7a8f8 20%,  #9f7bf7 30%, #895df0 50%,#7f52e9 60%,  #7c50eb 70%, #6737db 85% );
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
    overflow: hidden;
 }
#foot{
    text-align: center;
    color:black;
    font-family: 'ABeeZee';
    font-size: 0.9em;
  
}
.foot{
    color:white;
    padding:0px 3px;
    border-right:thin solid white;
    border-left:thin solid white;
}
.grid-container{
    height: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto 40px;
    gap:3px;
}
.grid-container > div{
    background-color:transparent;
   
}
html,body{
    height:100%;
}
input{
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    width:80%;
    font-size: 14px;
    border:none;
    border-left:1px solid white;
    padding: 3px 0px 3px 8px;
    color:white;
    outline:none;
}
input[type="submit"]:disabled{
    font-family: 'Open Sans', sans-serif;
    padding:10px ;
    width:400px;
    text-align: center;
    border-radius:2em;
    margin-top:15px;
    cursor:pointer;
    background-color:gray;
    color:#721520;
    font-weight:700;
    font-size: 0.9em;
    transform: translate(-5px,5px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    cursor:not-allowed;
    
}
::placeholder{
    color:#c1c1c1;
}
.item1{
    text-align:center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:25px 0px 25px 0px;
    color:#111d2d;
}
.item2a{
    text-align: center;
    margin:0 auto;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    
}
.item2a1{
    border:1px solid white;
    padding:8px;
    border-radius:2em;
    width:400px;
    margin: 0 auto;
    margin-top:20px;
    text-align: left;
    background-color:#111d2d;
}
label{
    color:white;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
#note{
    color:#111d2d;
    font-weight:700;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
}
.typetwo{
    font-family: 'Open Sans', sans-serif;
    padding:10px ;
    width:400px;
    text-align: center;
    border-radius:2em;
    margin-top:15px;
    cursor:pointer;
    background-color:#111d2d ;
    color:white;
    font-weight:700;
    font-size: 0.9em;
    text-transform: uppercase;
}
.typetwo:hover{
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.7);
    transform: translate(5px,-5px);
}


