*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: #fd636b;
    
   
}
#foot{
    
    text-align: center;
    color:black;
    font-family: 'ABeeZee';
    font-size: 0.9em;
  
}
.foot{
    padding:0px 3px;
    border-right:thin solid black;
    border-left:thin solid black;
}
.grid-container{
    justify-content: center;
    display:grid;
    grid-template-columns: 600px;
    grid-template-rows: 80px auto 40px;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.grid-container > div{
    background-color:whitesmoke;
}
html,body{
    height:100%;
}
input{
    background-color:transparent ;
    width:80%;
    border:1px solid black;
    margin:5px 0px 5px 0px;
    padding:5px;
    font-size:14px;
}
::placeholder{
    color:#c1c1c1;
}
.item1{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top:2px solid black;
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom: none;
    text-align:center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:25px 0px 25px 0px;
}
.item2{
    border-left:2px solid black;
    border-right:2px solid black;
}
#item2a{
    padding:10px;
    background-image: url("bog.jpg");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
    background-position: center;
    margin:0 auto;
    width:400px;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.item3{
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
label{
    color:black;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    
}
#profilebtn{
    background-color: #fd636b;
    padding:10px;
    text-transform: uppercase;
    
    color:white;
}
#profilebtn:hover{
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.7);
    transform: translate(5px,-5px);
}
