*{
    box-sizing: border-box;
}
body,html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    /* background-color: #c9dbfa; */
   
}
#foot{
    text-align: center;
    color:black;
    font-family: 'ABeeZee';
    font-size: 0.9em;
  
}
.foot{
    color:black;
    padding:0px 3px;
    border-right:thin solid black;
    border-left:thin solid black;
}
.grid-container{
   
    width:450px;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 190px auto 40px;
    margin:0px auto;
    position: relative;
    top:50%;
    transform:translateY(-50%);
   
    
    
}
.grid-container > div {
    background-color: whitesmoke;
}
body{
    background-image: radial-gradient(circle,#243040 20%, #1e2a38 30%, #1b2531 40%, #161d27 60%,  #0a0e13 85% );
    background-repeat: no-repeat;
    background-size: cover;
 }
.image{
    height:150px;
    width:150px;
    margin:0 auto;
    background-image: url("student1.jpg");
    background-size: contain; 
    clip-path: circle(70px);
}
.item2a{
    padding:50px;
    padding-bottom:20px;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    
}
input{
    border:none;
    border-bottom:1.5px solid #947f7f;
    background-color: transparent;
    margin: 8px 0px 20px 0px;
    width:80%;
    padding:5px 0px 5px 0px;
    outline:none;
}
label{
    color:#27b4e4;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
}
#note{
    color:#111d2d;
    font-weight:700;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
}
.wrap{
    text-align: center;
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
input[type=submit]{
    border:thin solid white;
    padding:10px;
    border-radius: 2em;
    background-color: #27b4e4;
    color:white;
    text-transform: uppercase;
    margin-bottom:0px;
    cursor:pointer;
    
}
input[type="submit"]:disabled{
    border:none;
    background-color:gray;
    color:black;
    transform: translate(-5px,5px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    cursor:not-allowed;
    
}
input[type="submit"]:hover{
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.7);
    transform: translate(5px,-5px);
}